
/* 
*, body, tags
*/
body{
    font-size: 16px;
    font-family: sans-serif;
    color: blue;
}
a{
    color: inherit;
}
.main-article{
    font-size: 2em;
    border: 2px darkorchid dotted;
    text-align: center;
color: rgb(247, 5, 5);
}
.main-article-heading{
font-family: initial;
border: inherit;
}
.main-article-content{
line-height: 1.2;
}
.main-article-bloc{
    border: inherit;
    /*color: initial*/
}
.initial-align{
    text-align: initial;
}
